/*  Settings for dialog gui
    Author: Joachim Atfolk
*/

/*
	Sets the base color, font-size, the backgroung color and font used by everything else
*/
.root{
	-fx-base: #111111;
	-fx-default-button: #111111;
	-fx-font-size: 12pt;
    -fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}	

/*
	Sets bagcground color in dialog window
*/
.dialog-pane{
    -fx-background-color: -fx-base;
}

/*
	Sets text weight and text color in dialog content
*/
.dialog-pane .label .content{
    -fx-font-weight: NORMAL;
	-fx-fill: #ffffff;
}

/*
	Sets background for header profile
*/
.dialog-pane:header .header-panel{
    -fx-background-color: -fx-base;
}

/*
	Sets font weight and color in dialog header
*/
.dialog-pane:header .header-panel .label{
    -fx-font-weight: NORMAL;
    -fx-fill: #ffffff;
}

/*
	Sets shape, color and text color for text field
*/
.text-field{
	-fx-background-radius: 0 0 0 0;
	-fx-background-color: derive(-fx-base, 40%);
	-fx-text-box-border: transparent ;
	-fx-focus-color: transparent ;
	-fx-text-fill: #ffffff;
}

/*
	Sets button shape, size, and color for dialog buttons
*/
.dialog-pane .button-bar .container .button{
	-fx-background-radius: 0 0 0 0;
	-fx-pref-height: 30;
    -fx-pref-width: 100;
	-fx-background-color: derive(-fx-base, 20%);
	-fx-border-color: transparent;
}

/*
	Sets button color when hovering over
*/
.dialog-pane .button-bar .container .button:hover{
	-fx-background-color: derive(-fx-base, 30%);
}


