/*  Settings for user profile gui
    Author: Joachim Atfolk
*/

/*
	Sets the base color, font-size, the backgroung color and font used by everything else
*/
.root{
	-fx-base: #111111;
	-fx-font-size: 12pt;
    -fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
	-fx-background-color: -fx-base;
}	

/*
	Sets the tab size, color and border style
*/
.tab-pane .tab-header-area .headers-region .tab {
	-fx-pref-height: 150;
	-fx-pref-width: 50;
	
    -fx-background-color: derive(-fx-base, 20%);
	
	-fx-padding: 0 0 0 13;
    -fx-background-radius: 0;
	
	-fx-border-style: hidden hidden solid hidden; 
	-fx-border-width: 2; 
	-fx-border-color: derive(-fx-base, 20%);
}

/*
	Removes empty space around tabs
*/
.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 0;
}


/*
	Sets the color of tab when hovering
*/
.tab-pane .tab-header-area .headers-region .tab:hover{
    -fx-background-color:  derive(-fx-base, 30%);
	-fx-border-color: derive(-fx-base, 30%);
}

/*
	Makes the border visible when tab selected
*/
.tab-pane .tab-header-area .headers-region .tab:selected{
	 -fx-border-color: #ffffff;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*

*/
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: derive(-fx-base, 10%);
}

/*

*/
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label{
    -fx-text-fill: #ffffff;
}

/*

*/
.tab-pane .tab-header-area .headers-region .tab:selected .tab-container .tab-label{
	-fx-text-fill: #ffffff;
}

/*

*/
.button{
	-fx-background-radius: 0 0 0 0;
	-fx-pref-height: 50;
    -fx-pref-width: 150;
	-fx-background-color: derive(-fx-base, 20%);
}

/*

*/
.button:hover{
	-fx-background-color: derive(-fx-base, 30%);

}

/*

*/
.table-view{
	-fx-background-color: -fx-base;
}

/*

*/
.table-view .column-header{
    -fx-background-color: derive(-fx-base, 20%);
}

/*

*/
.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    
}

/*

*/
.table-row-cell:odd {
    -fx-background-color: derive(-fx-base, 30%);
}

/*

*/
.table-row-cell:even {
    -fx-background-color: derive(-fx-base, 40%);
}

/*

*/
.text{
	-fx-text-fill: #ffffff;
}

/*
	
*/
.label{
	-fx-alignment: CENTER;
	-fx-text-fill: #ffffff;
}

.image-view{
	-fx-background-radius: 75 75 75 75;
	-fx-border-width: 3;
	-fx-border-color: #ffffff;
}



