@import "theme1.css";

/*
 * General GUI settings for the application
 * Author: Philip
 * 
 */


/*
 * Settngs for NavigationMenuGUI
 * 
 */
#rootPane{
-fx-background-color: -baseColor1;
   
}	

#slideMenuBackground {
	-fx-background-color: -baseColor1;
}

#menuBar {
	-fx-background-color: -baseColor1;
}

#scenePane{
	-fx-background-color: -baseColor2;
}

#profilePic{
	-fx-background-radius: 100;
	-fx-background-image: url("/menuIcons/Avatar1.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}