@import "theme1.css";

.button{
	-fx-background-color: -buttonColor;
	-fx-text-fill: -buttonTextColor;
	-fx-background-radius: 100.0;
}

.label{
	-fx-alignment: CENTER-LEFT;
	-fx-text-fill: -labelTextColor; 
}

.acnhor-pane{
	-fx-background-color: transparent;
}

#topPane{
	-fx-background-color: -baseColor1;
	-fx-pref-height: 50;
}

#rootPane{
	-fx-background-color: -baseColor1;
}

.check-box{
	-fx-text-fill: -checkBoxTextColor; 
	
}

.check-box .box{
	-fx-background-color: -checkBoxColor;
}

.check-box:selected .box .mark{
	-fx-background-color: -checkBoxMarkColor;
}

.slider .axis{
	-fx-tick-label-fill: -sliderTextColor; 
}

.slider .thumb{
	-fx-background-color: -slderKnobColor;
}

.spinner{
	-fx-base: -spinnerBackgroundColor;
	-fx-background-color: transparent;

}

.spinner .increment-arrow-button  {
    -fx-background-color: -spinnerButtonColor;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: -spinnerArrowColor;
}

.spinner .decrement-arrow-button  {
    -fx-background-color: -spinnerButtonColor;
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -spinnerArrowColor;
}

#title{
	-fx-text-fill: -labelTextColor; 
	-fx-alignment: CENTER-LEFT;
	-fx-text-fill: -labelTextColor; 
	-fx-padding: 0 0 0 10;
	-fx-font-size: 15.0pt;	
	-fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}
#mainBox{
	-fx-background-color: -baseColor2;
	
}

#rangeError{
	-fx-text-fill: -errorTextColor;
	-fx-font-size: 10pt;
    -fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}

#opError{
	-fx-text-fill: -errorTextColor;
	-fx-font-size: 10pt;
    -fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}