@import "theme1.css";

/*
 * General GUI settings for the application
 * Author: Philip
 * 
 */


/*
 * Settngs for NavigationMenuGUI
 * 
 */
#rootPane{
	-fx-background-color: -baseColor1;
	
}	

#easyButton{
	-fx-background-color: #1C9D43;
	-fx-background-radius: 20;
	-fx-text-fill: WHITE;
	-fx-font-size: 20.0pt;
	-fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}

#mediumButton{
	-fx-background-color: #E8820B;
	-fx-background-radius: 20;
	-fx-text-fill: WHITE;
	-fx-font-size: 20.0pt;
	-fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}

#hardButton{
	-fx-background-color: #D13629;
	-fx-background-radius: 20;
	-fx-text-fill: WHITE;
	-fx-font-size: 20.0pt;
	-fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}

.label{
	-fx-text-fill: WHITE;
	-fx-alignment: CENTER;
	-fx-font-size: 12.0pt;
	-fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}
