@import "theme1.css";

/*
 * Settings for problem menu
 * Author: Philip
 * 
 */
 
 /*
 * Settings for all buttons in problem menu
 */
.button{
	-fx-background-color:-buttonColor;
	-fx-text-fill: -buttonTextColor;
	-fx-background-radius: 100;
	-fx-pref-width: 200;
	-fx-pref-height: 25;
	-fx-border-color: transparent;
	-fx-background-insets: 0;
}

#responseText{
    -fx-opacity: 0.0;
}


