.root{
	-baseColor1: #1A2226;
	-baseColor2: #303A40;
	-baseColor3: #5C6A73;
	
	
	/*
	 * Nice color scheme:
 	*https://color.adobe.com/sv/search?q=dark
 	*/
	/*
 	*-baseColor3: linear-gradient(from 0% 10% to 0% 100%, #1A2226, #5C6A73);
 	*/



	/*
 	*-baseColor2: linear-gradient(from 0% 10% to 0% 100%, #303030, WHITE);
 	*/
	-fx-background-color: -baseColor2;
	-fx-font-size: 12.0pt;
    -fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
	
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	/*
 	* Text Colors:
 	*/
	-buttonTextColor: BLACK;
	-labelTextColor: WHITE;
	-checkBoxTextColor: WHITE;
	-sliderTextColor: WHITE;
	-spinnerBackgroundColor: WHITE; 
	
	/*
 	* Background Colors:
 	*/
	-buttonColor: WHITE;
	-checkBoxColor: WHITE;
	-spinnerColor: WHITE;
	
	/*
 	* Other Colors:
 	*/
	-slderKnobColor: WHITE;
	-checkBoxMarkColor: BLACK;
	-spinnerButtonColor: GREY;
	-spinnerArrowColor: WHITE;
	
	/*
 	* Error Colors:
 	*/
	-errorTextColor: #FA1000;

}


.label{
	-fx-text-fill: WHITE;
	-fx-alignment: CENTER;
	-fx-font-size: 12.0pt;
	-fx-font-family: "Rockwell";
	-fx-font-weight: NORMAL;
}


.button{
	-fx-background-color:-buttonColor;
	-fx-text-fill: -buttonTextColor;
	-fx-background-radius: 100;
	-fx-pref-width: 140;
	-fx-pref-height: 25;
	
	-fx-border-color: transparent;
	-fx-background-insets: 0;
}

.button:hover{
	-fx-background-color: derive(black, 95%);
}