
@import "theme1.css";
/*  Settings for table views
    Author: Joachim Atfolk
*/

  /*
	Sets background in tab-pane
*/
.tab-pane{
	-fx-background-color: -baseColor1;
}



/*
	Sets the tab size, color and border style
*/
.tab-pane .tab-header-area .headers-region .tab {
	-fx-pref-height: 25;
	-fx-pref-width: 150;
	
    -fx-background-color: derive(-baseColor1, 20%);
	
	-fx-padding: 0 0 0 13;
    -fx-background-radius: 0;
	
	-fx-border-style: hidden hidden solid hidden; 
	-fx-border-width: 2; 
	-fx-border-color: derive(-baseColor1, 20%);
}

/*
	Removes empty space around tabs
*/
.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 0;
	
}

/*
	Sets the color of tab when hovering
*/
.tab-pane .tab-header-area .headers-region .tab:hover{
    -fx-background-color:  derive(-baseColor1, 10%);
	-fx-border-color: derive(-baseColor1, 10%);
}

/*
	Makes the border visible when tab selected
*/
.tab-pane .tab-header-area .headers-region .tab:selected{
	 -fx-border-color: white;
}

/*
	Sets background color in tab header
*/
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: -baseColor2;
}


/*
	Sets text color in tabs
*/
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label{
    -fx-text-fill: WHITE;
}

/*
	Sets the button color when hovering over
*/
.button:hover{
	-fx-background-color: derive(BLACK, 95%);
}



#profilePane{
	-fx-background-color: -baseColor3;
}

#topPane{
	-fx-background-color: -baseColor2;
}






