/* Settings for table views
 * Author: Joachim Antfolk
 * Author: Philip
*/

/* 
 * Settings for the root pane 
*/
#rootPane{
	-fx-background-color: -baseColor1;
}

/* 
 * Settings for all tab-panes 
*/
.tab-pane{
	-fx-background-color: -baseColor1;
	
}

/* 
 * Sets the tab size, color and border style
*/
.tab-pane .tab-header-area .headers-region .tab {
	-fx-pref-height: 25;
	-fx-pref-width: 150;
	
    -fx-background-color: derive(-baseColor2, 20%);
	
	-fx-padding: 0 0 0 13;
    -fx-border-radius: 10 10 0 0;
 	-fx-background-radius: 10 10 0 0;
	
	-fx-border-style: hidden hidden solid hidden; 
	-fx-border-width: 2; 
	-fx-border-color: derive(-baseColor2, 20%);
	
}

/*
 * Removes empty space around tabs
*/
.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 0;
	
}

/*
 * Sets the color of tab when hovering
*/
.tab-pane .tab-header-area .headers-region .tab:hover{
    -fx-background-color:  derive(-baseColor2, 10%);
	-fx-border-color: derive(-baseColor2, 10%);
}

/*
 * Makes the border visible when tab selected
*/
.tab-pane .tab-header-area .headers-region .tab:selected{
	 -fx-border-color: -color1;
	 -fx-background-color: derive(-baseColor2, 10%);
	
}

/*
 * Sets background color in tab header
*/
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: -baseColor1;
}

/*
 * Sets text color in tabs
*/
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label{
    -fx-text-fill: -color1;
    -fx-align: CENTER;
}

/*
 * Sets the button color when hovering over
*/
.button:hover{
	-fx-background-color: derive(BLACK, 95%);
}

/*
 * Sets the color of the profile pane 
*/
#profilePane{
	-fx-background-color: -baseColor2;
}

/*
 * Sets the color of the color and height of the top pane 
*/
#topPane{
	-fx-background-color: -baseColor1;
	-fx-pref-height: 50;
}

/*
 * Settings for the title
*/
#titleUserName{
	-fx-alignment: CENTER-LEFT;
	-fx-text-fill: -color2;
	-fx-font-size: 15.0pt;
	-fx-padding: 0 0 0 10;	
	
}

/*
 * Settings for buttons
*/
.button{
    -fx-background-color: derive(-baseColor2, -20%);
	-fx-background-radius: 10;
	-fx-text-fill: -color1;
}

/*
 * Settings for the profile-pic
 * Makes the pane circular
 * Gets the pic
 * Makes the pic stretch, to fill the whole circle
 * Centers the pane
*/
#profilePicPane{
	-fx-background-radius: 100;
	-fx-background-image: url("/menuIcons/Avatar4.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

/*
 * Sets the opacity for all object to 1 when disabled
 */
* :disabled{
    -fx-opacity: 1.0;
}
